# Backend Environment Variables
PORT=
MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=development

# Brevo SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
